.custom-review-card {
    border: 2px solid #046bce;
    border-radius: 5px;
    margin-right: 20px;
    padding: 20px;

}

.user-reviews {
    text-align: left;
}

.user-info-container {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}